:root {
  --blue: #097fa3;
  --orange: #ff8c1a;
  --beige: #e6d6b5;
  --white: #ffff;
  --grey: #707070;
  --black: #000000;
}

/*NAVIGATION*/

.hamburger-label {
  color: var(--blue);
  padding: 10px;
  font-size: 5;
  display: block;
}

#hamburger-menu:checked ~ .navbar {
  display: inline-block;
}

.navbar,
#hamburger-menu {
  display: none;
}

nav a {
  color: var(--blue);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "gaultier", sans-serif;
  font-weight: bold;
}

.fa-search {
  color: var(--blue);
}

nav a:hover,
.fa-search:hover {
  color: var(--orange);
}

nav li {
  display: block;
}

.navbar {
  position: absolute;
  border: solid var(--orange);
  background-color: var(--beige);
  width: 30%;
  z-index: 1;
}

.searchform {
  position: relative;
  background-image: url(/images/searchicon.svg);
  background-repeat: no-repeat;
  font-size: 0.9em;
  font-family: "gaultier", sans-serif;
  margin: 2%;
  padding: 1% 1% 1% 10%;
  border-color: var(--blue);
  cursor: auto;
  width: 50%;
}

.active {
  color: var(--orange);
  text-decoration: underline;
}

/*NAVIGATION END*/

/*TITLE*/

.siteTitle {
  position: absolute;
  margin-top: 1%;
  padding-bottom: 2%;
  text-decoration: none;
  color: var(--orange);
  font-size: 2em;
  font-family: "Indie Flower", sans-serif;
}

.hamburger-label {
  font-size: 1.8em;
}

/*TITLE END*/

/*MEDIA QUERY*/

@media (max-width: 306px) {
  .navbar {
    width: 70%;
  }

  .logo {
    width: 25%;
    margin-top: -18%;
    margin-left: 21%;
  }
  .siteTitle {
    margin-top: -25%;
    font-size: 1em;
  }
}

@media screen and (min-width: 307px) and (max-width: 453px) {
  .navbar {
    width: 45%;
  }

  .logo {
    width: 20%;
    margin-top: -16%;
    margin-left: 14%;
  }
  .siteTitle {
    margin-top: -18%;
    font-size: 1.3em;
  }
}

@media screen and (min-width: 453px) and (max-width: 664px) {
  .navbar {
    width: 35%;
  }

  .logo {
    width: 13%;
    margin-top: -11%;
    margin-left: 8%;
  }
  .siteTitle {
    margin-top: -13%;
    font-size: 1.8em;
  }
}

@media screen and (min-width: 664px) and (max-width: 893px) {
  .navbar {
    width: 25%;
  }

  .logo {
    width: 10%;
    margin-top: -6%;
    margin-left: 5%;
  }
  .siteTitle {
    margin-top: -9%;
    font-size: 2.2em;
  }
}

@media screen and (min-width: 893px) and (max-width: 1023px) {
  .navbar {
    width: 25%;
  }

  .logo {
    width: 10%;
    margin-top: -6%;
    margin-left: 5%;
  }
  .siteTitle {
    margin-top: -7%;
    font-size: 2.5em;
  }
}

@media (min-width: 1024px) {
  .navbar {
    display: flex;
    background: none;
    border: none;
    width: auto;
  }

  .hamburger-label {
    display: none;
  }
  .navbar li {
    display: inline;
    padding: 8px;
  }

  .searchform {
    padding: 0% 0% 0% 6%;
    width: 12%;
  }

  .logo {
    width: 10%;
    margin-top: 3%;
  }

  .siteTitle {
    font-size: 3.5em;
    margin-top: 3%;
    margin-bottom: 2%;
  }
}
