.headingMammoth {
  width: 100%;
}

.img {
  width: 90%;
  margin-left: 5%;
}

.brain,
.event {
  width: 55%;
  margin-left: 20%;
}

.indexHeading {
  font-family: "Indie Flower", sans-serif;
  color: var(--orange);
  text-transform: uppercase;
  text-align: center;
}

.exhibitions {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.infoContainer {
  font-family: "gaultier", sans-serif;
  border: solid var(--orange);
  width: 40%;
  margin: 4%;
}

.infoContainer a {
  text-decoration: none;
}

.containerTitle {
  border: solid var(--orange);
  margin-top: -8%;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: var(--blue);
  background-color: var(--white);
}

.containerInfo {
  margin: 2%;
  font-size: 1.2em;
  color: var(--blue);
  text-align: center;
}

/*MEDIA QUERY*/

@media (min-width: 900px) {
  .containerTitle {
    margin-top: -3%;
  }
}

@media (min-width: 651px) and (max-width: 900px) {
  .mammoth {
    width: 100%;
    margin-left: -2%;
  }

  .containerTitle {
    margin-top: -13%;
  }

  .infoContainer {
    width: 40%;
    padding: 2%;
    margin-left: -2%;
  }
}

@media (min-width: 220px) and (max-width: 650px) {
  .mammoth {
    width: 120%;
    margin-left: -2%;
  }

  .indexHeading {
    font-size: 1.5em;
  }

  .containerTitle {
    margin-top: -5%;
    font-size: 1.2em;
  }

  .infoContainer {
    width: 100%;
    margin: 8%;
    font-size: 1em;
  }
}
